/* Product Card  */
.product-card {
    display: grid;
    align-items: center;
    padding: 20px;
    border: 1px solid #dadada;
    text-decoration: none;
    color: #001a61;
    /* color: inherit; */
    transition: all 0.3s ease;
  
    & * {
      color: #001a61;
    }
  }
  
  @media (min-width: 1025px) {
    .product-card {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .product-card__image {
    display: flex;
    align-items: center;
  }
  
  .product-card__info {
    margin-top: 30px;
    line-height: 1.3;
  }
  
  .cyclon_tax_wrapper .productCard {
    margin-bottom: revert;
  }
  
  .productCard {
    max-width: revert;
    min-height: revert;
  }
  
  .productCard__Image img {
    margin-top: revert;
  }
  
  .home-categories__category-heading span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: clamp(14px, calc((16 * 100vw) / 1380), 16px);
    text-transform: none;
    font-weight: 700;
    color: #001a61;
  }
  
  .home-categories__category-heading span::after {
    content: "\e900";
    font-family: "icomoon";
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: auto;
    /* visibility: hidden; */
    /* opacity: 0; */
    transition: all ease 300ms;
  }