.new-category-landing {
  padding-top: 0;
  background: revert;
}

.new-category-landing__tabs {
  margin-top: -79px;
}

.new-category-landing__tabs-buttons {
  margin-inline: auto;
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs__button {
  padding: 10px 60px;
}

.tabs__button--evo {
  background-color: #001a61;
  color: #a4916a;
}

.tabs__button--pro {
  background-color: #28407a;
  color: #b8b8b8;
}

.tabs__button--eco {
  background-color: #3b578d;
  color: #0ddf80;
}

.tabs__button--max {
  background-color: #274176;
  color: #f7691d;
}

.new-category-landing__tabs-buttons-label {
  position: absolute;
  color: white;
  font-size: 12px;
  left: -10px;
  transform: translateX(-100%);
}

.new-category-landing__dynamic-texts {
  margin-top: 40px;
}
