.hero-new-category-landing__heading {
  margin: 0 !important;
  padding: 0;
}

.hero-new-category-landing__subheading {
  max-width: 250px;
  margin-top: 20px;
}

.new-category-landing {
  padding-top: 0;
  background: revert;
}

.new-category-landing__tabs {
  margin-top: -79px;
}

.new-category-landing__tabs-buttons {
  margin-inline: auto;
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs__button {
  padding: 10px 60px;
}

.tabs__button--evo {
  background-color: #001a61;
  color: #ae9753;
}

.tabs__button--pro {
  background-color: #28407a;
  color: #8c9091;
}

.tabs__button--eco {
  background-color: #3b578d;
  color: #00ce7c;
}

.tabs__button--max {
  background-color: #274176;
  color: #f7691d;
}

.new-category-landing__tabs-buttons-label {
  position: absolute;
  color: white;
  font-size: 12px;
  left: -10px;
  transform: translateX(-100%);
}

.new-category-landing__dynamic-texts {
  margin-top: 40px;
}

.new-category-landing__dynamic-texts__description {
  color: #4b505d;
}

/* Products  */

.new-category-product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 80px;
}

@media screen and (max-width: 1024px) {
  .new-category-product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .new-category-product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Product Card  */
.new-category-product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.new-category-product-card__text-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* justify-content: space-between; */
}

.new-category-product-card__title {
  margin: 0;
  padding: 0;
  margin-top: 8px;
  line-height: 1.2;
}
