/* For Utilities  */

.accent {
  color: #ffc107;
}

.black-weight {
  font-weight: 900;
}

.font-ferry {
  font-family: "Ferry-Black", sans-serif;
}

/* Product Archive  */
.cyclon_tax_wrapper {
  background: #fff;
}

.product-archive__container {
  /* margin-top: 200px; */
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 20px;
}

.product-filters {
  background: revert;
  padding: revert;
  max-height: 80vh;
  overflow-y: auto;
}

.product-filters__heading {
  padding-bottom: 16px;
}

.selected-filters__heading {
  padding-bottom: 16px;
}

.selected-filters__list-container {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 16px;
}

.selected-filters__list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.selected-filters__item {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  padding: 4px 8px;
  border: 1px solid #dadada;
}

.selected-filters__remove {
  cursor: pointer;
}

.selected-filters__clear-all {
  text-decoration: underline;
  cursor: pointer;
}

.product-filters__grid {
  display: grid;
  gap: 20px;
}

.product-filters__group {
  padding-bottom: 20px;
  border-bottom: 1px solid #001a61;
}

.product-filters__group:last-child {
  border-bottom: none;
}

.product-filters__options {
  display: grid;
  gap: 8px;
  max-height: 300px;
  margin-top: 12px;
  overflow-y: auto;
}

.product-filters__option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.archive-grid {
  display: grid;
  gap: 20px;
}

@media (min-width: 1025px) {
  .archive-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.pagination .page-numbers {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  text-transform: uppercase;
  color: #001a61;
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li:first-child {
    margin-right: auto;
  }

  li:last-child {
    margin-left: auto;
  }
}

/* Product Card  */
.product-card {
  display: grid;
  align-items: center;
  padding: 20px;
  border: 1px solid #dadada;
}

@media (min-width: 1025px) {
  .product-card {
    grid-template-columns: 1fr 1fr;
  }
}

.product-card__image {
  display: flex;
  align-items: center;
}

.product-card__info {
  margin-top: 30px;
}

.cyclon_tax_wrapper .productCard {
  margin-bottom: revert;
}

.productCard {
  max-width: revert;
  min-height: revert;
}

.productCard__Image img {
  margin-top: revert;
}

/* Skeleton  */

.archive-grid__loader {
  position: absolute;
  inset: 0;
  z-index: 10;
  background: linear-gradient(
    90deg,
    transparent 0%,
    transparent 30%,
    rgba(255, 255, 255, 0.8) 50%,
    transparent 70%,
    transparent 100%
  );
  background-size: 200% 100%;
  background-position: -200% 0;
  backdrop-filter: blur(20px);
  animation: loading-slide 1.5s infinite linear;
}

@keyframes loading-slide {
  from {
    background-position: -200% 0;
  }
  to {
    background-position: 200% 0;
  }
}
