header {
  border: solid 4px red;
  /* just for testing  */
}

/* Product Archive  */
.product-archive__container {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 2fr 8fr;
  border: solid 4px blue;
}

.product-filters {
  background: revert;
  padding: revert;
  border: solid 4px red;
}

.cyclon_tax_wrapper .productCard {
  margin-bottom: revert;
}

.productCard {
  max-width: revert;
  min-height: revert;
}

.productCard__Image img {
  margin-top: revert;
}

/* Skeleton  */

.archive-grid__loader {
  position: absolute;
  inset: 0;
  z-index: 10;
  background: linear-gradient(
    90deg,
    transparent 0%,
    transparent 30%,
    rgba(255, 255, 255, 0.8) 50%,
    transparent 70%,
    transparent 100%
  );
  background-size: 200% 100%;
  background-position: -200% 0;
  backdrop-filter: blur(20px);
  animation: loading-slide 1.5s infinite linear;
}

@keyframes loading-slide {
  from {
    background-position: -200% 0;
  }
  to {
    background-position: 200% 0;
  }
}
