/* For Utilities  */
.primary {
  color: #001a61;
}

.accent {
  color: #ffc107;
}

.lowercase {
  text-transform: lowercase;
}

.bold {
  font-weight: 700;
}

.black-weight {
  font-weight: 900;
}

.font-ferry {
  font-family: "Ferry-Black", sans-serif;
}

.letter-spacing {
  letter-spacing: -0.02em;
}

/* For typographgy  */
.heading-m {
  font-size: 30px;
}

.text-m {
  font-size: 18px;
}

.text-xs {
  font-size: 12px;
}

/* Product Archive  */
.cyclon_tax_wrapper {
  background: #fff;
}

.product-archive__container {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 20px;
}

.product-filters {
  background: revert;
  padding: revert;
  max-height: 80vh;
  overflow-y: auto;
}

.product-filters__options {
  max-height: 300px;
  overflow-y: auto;
}

.archive-grid {
  display: grid;
  gap: 20px;
}

@media (min-width: 1025px) {
  .archive-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.pagination .page-numbers {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  text-transform: uppercase;
  color: #001a61;
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li:first-child {
    margin-right: auto;
  }

  li:last-child {
    margin-left: auto;
  }
}

/* Product Card  */
.product-card {
  display: grid;
}

@media (min-width: 1025px) {
  .product-card {
    grid-template-columns: 1fr 1fr;
  }
}

.cyclon_tax_wrapper .productCard {
  margin-bottom: revert;
}

.productCard {
  max-width: revert;
  min-height: revert;
}

.productCard__Image img {
  margin-top: revert;
}

/* Skeleton  */

.archive-grid__loader {
  position: absolute;
  inset: 0;
  z-index: 10;
  background: linear-gradient(
    90deg,
    transparent 0%,
    transparent 30%,
    rgba(255, 255, 255, 0.8) 50%,
    transparent 70%,
    transparent 100%
  );
  background-size: 200% 100%;
  background-position: -200% 0;
  backdrop-filter: blur(20px);
  animation: loading-slide 1.5s infinite linear;
}

@keyframes loading-slide {
  from {
    background-position: -200% 0;
  }
  to {
    background-position: 200% 0;
  }
}
