.single-cyclon_new_product .cyclon__Menu li a,
.single-cyclon_new_product .header-language-switcher a {
  color: #001a61;
  transition: 0.3s ease;
}

.single-cyclon_new_product .search-form label:after {
  filter: invert(1);
}

.single-cyclon_new_product .solid-header .cyclon__Menu li a,
.single-cyclon_new_product .solid-header .header-language-switcher a,
.single-cyclon_new_product .solid-header .header-search label {
  color: #b9bfcb;
}

.single-cyclon_new_product .solid-header .search-form label:after,
.single-cyclon_new_product:has(> div.menu-is-visible) .search-form label:after {
  filter: invert(0);
}

.single-cyclon_new_product .sub-menu li a {
  color: #b9bfcb;
}

.single-cyclon_new_product .sub-menu li:hover a {
  color: #001a61;
}

.single-cyclon_new_product .mobile-trigger svg path {
  stroke: #001a61;
}

.single-cyclon_new_product .solid-header .mobile-trigger svg path,
.single-cyclon_new_product:has(> div.menu-is-visible) .mobile-trigger svg path {
  stroke: #b9bfcb;
}

.cyclon_single_product_new {
  position: relative;
  z-index: 1;
  padding-top: 160px;
}

.single-product-new__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 100px;
  align-items: start;
}

@media only screen and (max-width: 1024px) {
  .single-product-new__grid {
    grid-template-columns: 1fr;
  }
}

.single-product-new__img-container {
  display: flex;
  justify-self: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 40px;
}

@media only screen and (max-width: 1024px) {
  .single-product-new__img-container {
    margin-top: 0;
  }
}

.single-product-new__img-container img {
  /* max-width: 80%; */
  margin-inline: auto;
}

.single-product-new__img-bg-img {
  width: 125%;
  top: 50%;
  right: -5%;
  transform: translateY(-50%);
  z-index: -1;
}

.single-product-new__img-bg-img img {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .single-product-new__img-container img {
    max-width: 70%;
  }

  .single-product-new__img-bg-img {
    width: 100%;
    height: 100%;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    z-index: -1;
  }

  .single-product-new__img-bg-img img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}

.single-product-new__category-info {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin-left: auto;
}

.single-product-new__category-name {
  max-width: 100px;
  text-align: right;
}

.single-product-new__category-image {
  max-width: 60px;
}

.single-product-new__title {
  margin-bottom: 0;
  line-height: 1;
}

.single-product-new__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.single-product-new__previous-info {
  width: fit-content;
  margin-left: auto;
  background-color: #001a61;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
}

.single-product-new__content {
  margin: 0;
  padding: 0;
}

.single-product-new__toggle {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  padding-bottom: 40px;
  align-items: center;
  /* gap: 15px; */
}

.single-product-new__toggle .show-more-line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.single-product-new__toggle-content {
  cursor: pointer;
}

.single-product-new__toggle-content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-inline: 15px;
}

.single-product-new__toggle-content::after {
  content: "\e901";
  font-family: "icomoon";
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  transform: rotate(90deg);
  -moz-osx-font-smoothing: grayscale;
  transition: 0.3s ease;
}

[aria-expanded="true"]::after {
  transform: rotate(-90deg);
}

.single-product-new__previous-info-container {
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.single-product-new__bullets {
  border-block: solid 1px rgba(0, 0, 0, 0.1);
  padding-block: 20px;
}

.single-product-new__bullets li {
  list-style-position: inside;
}

.single-product-new__technical-guides {
  margin-top: 0 !important;
}

.single-product-new__grid .product-pill {
  background-color: #e9ecf1;
}

.product-buttons__container {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 20px;
}

.single-product-new__grid .product-buttons {
  margin-top: 0px;
}

.single-product-new__grid .product-buttons a {
  width: 100%;
  min-width: max-content;
  margin-right: 0;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .single-product-new__technical-guides {
    display: flex;
    column-gap: 20px;
  }
}

.product-pill--primary {
  background-color: #001a61 !important;
  color: white !important;
  background-image: url("/wp-content/uploads/2026/01/download-arrow-yellow.svg") !important;
}

.product-pill--primary .product-pill__title,
.product-pill--primary .product-pill__subtitle,
.product-pill--primary .product-pill__subtitle::after {
  color: white !important;
}

.single-cyclon_new_product .product-card {
  border: none !important;
}

.relatedProducts__SuperWrapper .swiper-pagination,
.relatedProducts__SuperWrapper .swiper-button-prev,
.relatedProducts__SuperWrapper .swiper-button-next {
  display: none !important;
}
