.single-cyclon_new_product .cyclon__Menu li a {
  color: #001a61;
  transition: 0.3s ease;
}

.single-cyclon_new_product .solid-header .cyclon__Menu li a {
  color: #b9bfcb;
}

.single-cyclon_new_product .sub-menu li a {
  color: #b9bfcb;
}

.single-cyclon_new_product .sub-menu li:hover a {
  color: #001a61;
}

.cyclon_single_product_new {
  padding-top: 160px;
}

.single-product-new__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 100px;
  /* border: solid 4px red; */
}

.single-product-new__img-container {
  display: flex;
  justify-self: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.single-product-new__img-container img {
  max-width: 80%;
  margin-inline: auto;
}

.single-product-new__category-info {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.single-product-new__category-name {
  max-width: 100px;
  text-align: right;
}

.single-product-new__category-image {
  max-width: 60px;
}

.single-product-new__title {
  margin-bottom: 0;
  line-height: 1;
}

.single-product-new__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.single-product-new__previous-info {
  width: fit-content;
  margin-left: auto;
  background-color: #001a61;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
}

.single-product-new__content {
  margin: 0;
  padding: 0;
}

.single-product-new__bullets {
border-block: solid 1px rgba(0, 0, 0, 0.1);
padding-block: 20px;
}

.single-product-new__technical-guides {
  margin-top: 0 !important;
}

.single-product-new__grid  .product-pill {
  background-color: #E9ECF1;
}

.single-product-new__grid .product-buttons {
  margin-top: 0px;
}


