.cyclon_blog{
  padding: 100px 0;
  background: #e9e9e9;
  @include media('<=767px'){
    padding: 20px 0;
  }
}

.blogCategory__Link{
  @include media('<=600px'){
    font-size: 12px;
    line-height: 30px;
    letter-spacing: -0.24px;
    padding: 2px 8px;
    margin-bottom: 60px;
  }
  position: relative;
  background: $color__primary;
  font-size: 24px;
  line-height: 47px;
  letter-spacing: -1.32px;
  color: $white;
  margin-bottom: 80px;
  padding: 15px 15px 15px 40px;
  font-weight: 300;
  display: flex;
  align-items: center;
  & svg{
    margin-right: 10px;
    @include media('<=600px'){
      max-width: 22px;
      min-width: 22px;
    }
  }
  &:hover{
    background: $color__secondary;
    & svg path, svg rect{
      stroke: $color__primary;
    }
    & svg line{
      stroke: $color__primary;
    }
  }
  & .blogArrow{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include media('<=600px'){
      display: none;
    }
  }
  &--lightBlue{
    background: #A2C8FF;
    color: $color__primary;
  }
}
.activeNetwork{
  background: $color__secondary;
  & svg path, svg rect{
    stroke: $color__primary;
  }
  & svg line{
    stroke: $color__primary;
  }
}
.blogWrapper{
  margin: 0 0 14px 0;
}
.blogCard {
  padding: 30px 15px 36px 15px;
  background: $white;
  position: relative;
  margin-bottom: 100px;
  @include media('<=767px'){
    padding: 30px 10px 36px 10px;
  }
  &:hover{
    background: $color__primary;
    & .blogCard__Date{
      color: $white;
    }
    & h3{
      color: $color__secondary;
    }
    & p{
      color: $white;
    }
    & svg path{
      stroke: $white;
    }
  }
  &__Image{
    width: 100%;
    height: auto;
    margin-bottom: 26px;
    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      margin-top: -64px;
    }
  }
  &__Date{
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
    font-weight: 500;
    color: $color__primary;
  }
  & h3{
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    margin: 0 0 18px 0;
    color: $color__primary;
    @include media('<=767px'){
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 8px;
    }
  }
  & p{
    font-size: 16px;
    line-height: 20px;
    color: $color__primary;
    margin-bottom:  75px;
    max-width: 310px;
    @include media('<=767px'){
      font-size: 10px;
      line-height: 14px;
      margin-bottom: 0;
    }
  }
  &__ReadMore{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  &__ReadMoreArrow{
    position: absolute;
    bottom: 36px;
    right: 20px;
    @include media('<=767px'){
      bottom: 19px;
      width: 20px;
      display: none !important;
    }
  }
}