.network-search-form{
  margin: 25px auto 50px auto;
  max-width: 1146px;
  @include media('<=767px'){
    margin-bottom: 30px;
  }
  & form{
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 17px;
    background-color: #fff;
    @include media('<=767px'){
      padding: 5px;
    }
    & input{
      margin-bottom: 0 !important;
    }
    & button{
      width: 185px;
      border-radius: 40px;
      padding: 10px;
      height: 47px;
      background: #fff;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.6px;
      color: $color__primary;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
#networkMap,
#netWorkMapInner{
  height: 100%;
  @include media('<=767px'){
    height: 400px;
  }
}
.networkPoints{
  padding: 37px 54px 57px 18px;
  background: $white;
}
.salePoint{
  position:relative;
  display: flex;
  margin: 0 0 40px 0;
  transition: all 300ms ease-in;
  padding: 4px;
  &:hover{
    transition: all 300ms ease-out;
    border-left: 10px solid $color__primary;
  }
  & img{
    margin-right: 14px;
    max-width: 29px;
  }
  & h4{
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
    color: #000;
  }
  &__Address{
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    color: #727272;
    max-width: 373px;
  }
  &:last-child{
    margin-bottom: 0;
  }
  &__Link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

.infoWindow__Content{
  & h4{
    margin: 0 0 5px 0;
  }
  & h5{
    color: #747474;
    margin-top: 8px;
    margin-bottom: 0;
  }
}

.networkLink{
  @include media('<=767px'){
    margin-bottom: 20px !important;
    height: 37px !important;
  }
}