.cyclonNewsletter{
	display: flex;
	& .newsLetterLeft{
		padding: 39px 0 44px 0;
		background: #FFDB44;
		position: relative;
		display: flex;
		align-items: self-end;
		@include media('<=767px'){
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 25px 0 25px 0;
		}
		& .newsll{
			position: absolute;
			height: 100%;
			background: #FFDB44;
			width: 100%;
			left: -100%;
			top: 0;
		}
		& h3{
			font-size: 40px;
			line-height: 42px;
			letter-spacing: -2.2px;
			color: $color__primary;
			font-weight: 400;
			margin: 0;
			@include media('<=767px'){
				font-size: 26px;
				line-height: 28px;

			}
		}
	}
	& .newsLetterRight{
		padding: 39px 0 44px 70px;
		background: #FFF0B0;
		position: relative;
		display: flex;
		align-items:self-end;
		justify-content: space-between;
		@include media('<=767px'){
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 25px 0 ;
		}
		& .newslr{
			position: absolute;
			height: 100%;
			background: #FFF0B0;
			width: 100%;
			right: -100%;
			top: 0;
		}
		& h3{
			font-size: 40px;
			line-height: 42px;
			letter-spacing: -2.2px;
			color: $color__primary;
			font-weight: 400;
			margin: 0;
			@include media('<=767px'){
				font-size: 26px;
				line-height: 32px;
				margin-bottom: 20px;
			}
		}
	}
}
.footerSocials{
	padding: 0;
	margin: 0;
	list-style-type: none;
	& li{
		display: inline-block;
		margin-right: 47px;
		&:last-child{
			margin-right: 0;
		}
	}
}
.newsletterForm{
	display: flex;
	align-items: center;
	@include media('<=767px'){
		margin: 30px 0 0 0;
	}
	& input[type=email]{
		border-radius: 31px;
		max-width: 263px;
		margin-bottom: 0;
	}
	button[type=submit]{
		border: none;
		background: none;
		cursor: pointer;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $color__primary;
		font-size: 16px;
		line-height: 42px;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: $color__primary;
		font-size: 16px;
		line-height: 42px;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: $color__primary;
		font-size: 16px;
		line-height: 42px;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: $color__primary;
		font-size: 16px;
		line-height: 42px;
	}
}
.site-footer{
	padding: 50px 0 50px 0;
	background: #e9e9e9;
}
.belowFooter{
	background: #fff;
	padding: 30px 0 46px 0;
	@include media('<=600px'){
		padding: 30px 0 30px 0;
	}
	&__Top{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 10px;
		& hr {
			margin: 0;
			border: 1px solid $color__ultralightGray;
			width: 100%;
		}
		& .footer-logo{
			max-width: 69px;
			height: auto;
			padding-right: 10px;
		}
		& .member-logo{
			padding-left: 10px;
		}
	}
	&__Bottom{
		font-size: 16px;
		line-height: 20px;
		color: #042759;
		@include media('<=600px'){
			font-size: 12px;
			line-height: 15px;
		}
		& p{
			margin: 0;
		}
	}
}
.mob-order-1{
	@include media('<=767px'){
		order: 1;
	}
	& #copyright-nav{
		@include media('<=767px'){
			padding: 15px 0 !important;
			text-align: center !important;
		}
	}
}
.mob-order-2{
	@include media('<=767px'){
		order: 2;
	}
}
.site-copyright{
	padding: 18px 0;
	background: rgba(233,233,233,0.73);
	& *{
		font-size: 12px;
		line-height: 15px;

		color: #042759 !important;
	}
	& .copyright-menu{
		text-align: right;
		margin: 0;
		padding: 0;
		list-style: none;
		& li{
			display: inline-block;
			&:last-child:after{
				content: none !important;
			}
			&:after{
				content: '';
				height: 15px;
				width: 1px;
				color: #042759 !important;
				display: inline-block;
				position: relative;
				z-index: 888;
				background: #042759;
				margin: 0 15px 0 23px;
				vertical-align: middle;
			}
		}
		& a{
			color: #042759;
		}
	}
}

.footer-divider{
	margin: 28px 0;
	border: 1px solid $color__moreLightGray;
}
.lubeFinder{
	padding: 40px 0;
	background: url('/wp-content/uploads/2022/04/Rectangle-154.png') center no-repeat;
	background-size: cover;
	height: 304px;
	@include media('<=767px'){
		height: 257px;
	}
	& p{
		color: $color__secondary;
		margin: 5px 0 20px 0;
		@include media('<=767px'){
			font-size: 16px;
			line-height: 20px;
			max-width: 170px;
		}
	}
	& a{
		display: inline-block;
		@include media('<=767px'){
			display: none;
		}
	}

	& .engine{
		background: url(/wp-content/uploads/2022/04/Mask-Group-34.png) center no-repeat;
		background-size: cover;
		height: 443px;
		margin-top: -167px;
		width: 123%;
		@include media('<=767px'){
			background-size: cover;
			height: 244px; 
			margin-top: -142px;
			background-position: 108px 0;
		}
	}
}

.lubelogo{
	@include media('<=767px'){
		max-width: 250px;
	}
}

.footer-widget-1,
.footer-widget-2{
	@include media('<=767px'){
		display: none;
	}
}