form {
	input[type=text],input[type=email],select{
		width: 100%;
		height: 43px;
		padding-left: 13px;
		max-width: 100%;
		background: #ffffff;
		box-sizing: border-box;
		border: none;
		margin-bottom: 18px;
		color: $color__moreGray;
	}
	& select {
		position: relative;
		border: none;
		width: 100%;
		-webkit-appearance: none;
		appearance: none;
		background-image: url('/wp-content/themes/rkpt-wp-theme/img/selectArrow.svg') !important;
		background-repeat: no-repeat !important;
		background-position: 96% 50% !important;
		padding-right: 10px !important;

	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $color__moreGray;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: $color__moreGray;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: $color__moreGray;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: $color__moreGray;
	}
	& input[type=submit]{
		margin-top: 32px;
		width: 100%;
		height: 43px;
		background: $color__body;
		color: $white;
		cursor: pointer;
		&:hover{
			background: transparent;
			color: $color__body;
		}
	}
}


/** Specific Container **/
.get-touch-section{
	& form {
		& select{
			-webkit-appearance: auto !important;
			appearance: auto !important;
		}
		& 	input[type=text],input[type=email],select{
			background: transparent !important;
			border-bottom: 1px solid #556873;
			color: #fff !important;
		}
		& option{
			color: $color__body !important;
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: $white;
		}
		::-moz-placeholder { /* Firefox 19+ */
			color: $white;
		}
		:-ms-input-placeholder { /* IE 10+ */
			color: $white;
		}
		:-moz-placeholder { /* Firefox 18- */
			color: $white;
		}

		& input[type=submit]{
			background: $color__secondary;
			border: 1px solid $color__secondary;
			&:hover{
				color: $white;
				background: transparent;
				border: 1px solid $white;
			}
		}
	}
}
