.breadcrumbs{
	margin: 15px 0 20px 0;
	& *{
		font-size: 10px;
		line-height: 36px;
	}
	& a{
		font-weight: 300;
		color: #bdbdbd;
		&:after{
			content: '|';
			display: inline-block;
			margin: 0 15px;
		}
	}
	& span{
		font-weight: 600;
	}
}
