@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlex/IBMPlexSans-Medium.woff2') format('woff2'),
        url('IBMPlex/IBMPlexSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlex/IBMPlexSans-ExtraLight.woff2') format('woff2'),
        url('IBMPlex/IBMPlexSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlex/IBMPlexSans-SemiBold.woff2') format('woff2'),
        url('IBMPlex/IBMPlexSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlex/IBMPlexSans-Bold.woff2') format('woff2'),
        url('IBMPlex/IBMPlexSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('IBMPlex/IBMPlexSans-Regular.woff2') format('woff2'),
        url('IBMPlex/IBMPlexSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

