$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__body: #000000;
$color__primary: #042759;
$color__secondary:#FFDB44;

$color__dark: #374148;
$color__lightGray: #A3A3A3;
$color__moreGray: #bababa;
$color__moreLightGray: #e9e9e9;
$color__ultralightGray: #f8f8f8;



$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__body;
$color__link-visited: $color__body; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__bg_button: #fff;
$color__button: #333;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #888;

$white: #fff;
$copyright-color: #e7e7e7;


/* Theme specific colors */
$color_shipping: #EFC842;

