// stylelint-disable value-keyword-case
$font__main: 'Cera Pro',s-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 25px;
$font__line-height-pre: 1.6;

$footer-size: 15px;
$footer-line-height: 27px;
